<h2>Menu</h2>
<nav>
  <ul>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/00-preface/README.md')">00-preface</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/01-basic/README.md')">01-basic</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/02-construction/README.md')">02-construction</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/03-config/README.md')">03-config</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/05-router/README.md')">05-router</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/06-controller/README.md')">06-controller</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/07-request/README.md')">07-request</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/08-database/README.md')">08-database</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/09-module/README.md')">09-module</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/10-view/README.md')">10-view</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/11-template/README.md')">11-template</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/12-log/README.md')">12-log</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/13-error-and-debug/README.md')">13-error-and-debug</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/14-verify/README.md')">14-verify</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/15-miscellaneous/README.md')">15-miscellaneous</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/16-extention/README.md')">16-extention</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/17-command-line/README.md')">17-command-line</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/18-deploy/README.md')">18-deploy</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/19-appendix/README.md')">19-appendix</a></li>
  </ul>
</nav>
