<h2>Menu</h2>
<nav>
  <ul>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/00-preface/README.md')">00-preface</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/01-basic/README.md')">01-basic</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/02-construction/README.md')">02-construction</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/03-config/README.md')">03-config</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/04-router/README.md')">04-router</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/05-controller/README.md')">05-controller</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/06-request/README.md')">06-request</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/07-database/README.md')">07-database</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/08-module/README.md')">08-module</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/09-view/README.md')">09-view</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/10-template/README.md')">10-template</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/11-log/README.md')">11-log</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/12-error-and-debug/README.md')">12-error-and-debug</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/13-validation/README.md')">13-validation</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/14-miscellaneous/README.md')">14-miscellaneous</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/15-extension/README.md')">15-extension</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/16-command-line/README.md')">16-command-line</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/17-deploy/README.md')">17-deploy</a></li>
    <li><a href="javascript:;" ng-click="updateCurrentPage('docs/18-appendix/README.md')">18-appendix</a></li>
  </ul>
</nav>
